.contenedor {
  display: flex;
  gap: 10px;
  background: #eee;
  padding: 20px;
}
.item {
  background: #4ea3f1;
  border-radius: 10px;
  height: 100px;
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .a, .b, .c {
  flex: 1 1 150px;  Todos se dividen el tamano
} */

/* .a { flex: 1 1 150px; }
.b { flex: 2 1 150px; } b ocupa el doble de espacio que flex: 1 150px;
.c { flex: 1 1 150px; } */

/* .a { flex: 1 1 150px; }
.b { flex: 0 0 200px; } /* NO grow, NO shrink, base fija */
/*.c { flex: 1 1 150px; } */

.b {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}
