.contenedor {
  display: flex;
  flex-wrap: wrap;
  background: #f0f0f0;
  padding: 20px;
  gap: 15px;

  /* Propiedades que vas a ir cambiando */
  height: 400px;              
flex-direction: row;
justify-content: space-around;
align-items: center;
align-content: space-around;

}

.item {
  width: 120px;
  height: 120px;
  background: #4ea3f1;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}