/* .contenedor {
 display: grid;
 grid-template-columns: 150px 1fr 150px;
 gap: 10px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #54f;
    border-radius: 15px 15px 50% 50%;
}

.a {
    grid-column: 1 / 3;
}

.c {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

 */

 .contenedor {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-areas: 
      "a a c"
      "b b c"
      "d d c";
  gap: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #54f;
  border-radius: 15px 15px 50% 50%;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
