body{
    margin: 0;
    background-image: url(images/interfaz.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 97vh;
}



.icon{
    width: 8vw;
    height: 8vw;
    max-width: 60px;
    max-height: 60px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 12px;
    object-fit: cover;
}

.desktop-icons{
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 40px;
    position: absolute;
    top: 2vw;
    left: 2vw;
    width: 30vw;
    max-width: 100px;    
}

.desktop-icons a{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}

.taskbar{
    position: fixed;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, 20%);
    border-radius: 10px;
    padding: 10px 20px;
    width: 100vw;
    left: 0;
    right: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 10%);
}


