* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    gap: 20px;
    min-height: 100svh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    overflow-x: hidden;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(29, 25, 70);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height: 100px;
    gap: 20px;
}

.menu a, .sidebar a {color: white; text-decoration: none; padding: 10px;transition: 0.3s;
}

.menu a:hover, .sidebar a:hover {font-size: 15px; background-color: #eeeeee57; backdrop-filter: blur(10px);border-radius: 15px;}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #999;
    border-radius: 10px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: rgb(214, 176, 129);
    border-radius: 10px;
}


.sections a {
    text-decoration: none;
    color: #aa3636;
}

.sections a:hover {
    text-decoration-line: underline;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa3636;
}

.tittles {
    color: #eee;
}

@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "footer";
    }
}

@media (max-width: 500px) {
    .main {
        grid-template-columns: 1fr;
    }
}


